In [55]:
pwd  #To be sure of directory working from

'c:\\Users\\HP\\OneDrive\\Desktop\\LP1\\Career_Accelerator_LP1-Data_Analysis\\India Startup Funding'

In [56]:
import pandas as pd
import numpy as np
import re  

#Import useful libraries that will aid in data processing

In [57]:
df_2018 = pd.read_csv('startup_funding2018.csv')   #To get the data into python to be processed and analysed
df_2018

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...
...,...,...,...,...,...,...
521,Udaan,"B2B, Business Development, Internet, Marketplace",Series C,225000000,"Bangalore, Karnataka, India","Udaan is a B2B trade platform, designed specif..."
522,Happyeasygo Group,"Tourism, Travel",Series A,—,"Haryana, Haryana, India",HappyEasyGo is an online travel domain.
523,Mombay,"Food and Beverage, Food Delivery, Internet",Seed,7500,"Mumbai, Maharashtra, India",Mombay is a unique opportunity for housewives ...
524,Droni Tech,Information Technology,Seed,"₹35,000,000","Mumbai, Maharashtra, India",Droni Tech manufacture UAVs and develop softwa...
525,Netmeds,"Biotechnology, Health Care, Pharmaceutical",Series C,35000000,"Chennai, Tamil Nadu, India",Welcome to India's most convenient pharmacy!

In [58]:
df_2018['Amount'] = df_2018['Amount'].replace(",","",regex = True)  # Clear the commas in the Amount column to make sure your figures are uniform

In [59]:
df_2018

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,₹40000000,"Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,₹65000000,"Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...
...,...,...,...,...,...,...
521,Udaan,"B2B, Business Development, Internet, Marketplace",Series C,225000000,"Bangalore, Karnataka, India","Udaan is a B2B trade platform, designed specif..."
522,Happyeasygo Group,"Tourism, Travel",Series A,—,"Haryana, Haryana, India",HappyEasyGo is an online travel domain.
523,Mombay,"Food and Beverage, Food Delivery, Internet",Seed,7500,"Mumbai, Maharashtra, India",Mombay is a unique opportunity for housewives ...
524,Droni Tech,Information Technology,Seed,₹35000000,"Mumbai, Maharashtra, India",Droni Tech manufacture UAVs and develop softwa...
525,Netmeds,"Biotechnology, Health Care, Pharmaceutical",Series C,35000000,"Chennai, Tamil Nadu, India",Welcome to India's most convenient pharmacy!

In [60]:
df_2018['Amount'] = df_2018['Amount'].replace("—",0)

df_2018

# Replace - with zero in the amount column

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,₹40000000,"Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,₹65000000,"Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,0,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...
...,...,...,...,...,...,...
521,Udaan,"B2B, Business Development, Internet, Marketplace",Series C,225000000,"Bangalore, Karnataka, India","Udaan is a B2B trade platform, designed specif..."
522,Happyeasygo Group,"Tourism, Travel",Series A,0,"Haryana, Haryana, India",HappyEasyGo is an online travel domain.
523,Mombay,"Food and Beverage, Food Delivery, Internet",Seed,7500,"Mumbai, Maharashtra, India",Mombay is a unique opportunity for housewives ...
524,Droni Tech,Information Technology,Seed,₹35000000,"Mumbai, Maharashtra, India",Droni Tech manufacture UAVs and develop softwa...
525,Netmeds,"Biotechnology, Health Care, Pharmaceutical",Series C,35000000,"Chennai, Tamil Nadu, India",Welcome to India's most convenient pharmacy!

In [61]:
df_2018['INR_Amount'] = df_2018['Amount'].str.rsplit('₹', n=2).str[1]

df_2018

# Create a new column for the Rupee figures so it can be converted to USD

,Company Name,Industry,Round/Series,Amount,Location,About Company,INR_Amount
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",NaN
1,Happy Cow Dairy,"Agriculture, Farming",Seed,₹40000000,"Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...,40000000
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,₹65000000,"Gurgaon, Haryana, India",Leading Online Loans Marketplace in India,65000000
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...,NaN
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,0,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...,NaN
...,...,...,...,...,...,...,...
521,Udaan,"B2B, Business Development, Internet, Marketplace",Series C,225000000,"Bangalore, Karnataka, India","Udaan is a B2B trade platform, designed specif...",NaN
522,Happyeasygo Group,"Tourism, Travel",Series A,0,"Haryana, Haryana, India",HappyEasyGo is an online travel domain.,NaN
523,Mombay,"Food and Beverage, Food Delivery, Internet",Seed,7500,"Mumbai, Maharashtra, India",Mombay is a unique opportunity for housewives ...,NaN
524,Droni Tech,Information Technology,Seed,₹35000000,"Mumbai, Maharashtra, India",Droni Tech manufacture UAVs and develop softwa...,35000000
525,Netmeds,"Biotechnology, Health Care, Pharmaceutical",Series C,35000000,"Chennai, Tamil Nadu, India",Welcome to India's most convenient pharmacy!,NaN

In [62]:
df_2018['INR_Amount'] = df_2018['INR_Amount'].apply(float).fillna(0)

df_2018['USD_Amount'] = df_2018['INR_Amount']*0.012

#Make sure the new Rupee column is a float and use the rate of 0.012 to convert it to USD into a new column

In [63]:
df_2018

,Company Name,Industry,Round/Series,Amount,Location,About Company,INR_Amount,USD_Amount
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",0.0,0.0
1,Happy Cow Dairy,"Agriculture, Farming",Seed,₹40000000,"Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...,40000000.0,480000.0
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,₹65000000,"Gurgaon, Haryana, India",Leading Online Loans Marketplace in India,65000000.0,780000.0
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...,0.0,0.0
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,0,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...,0.0,0.0
...,...,...,...,...,...,...,...,...
521,Udaan,"B2B, Business Development, Internet, Marketplace",Series C,225000000,"Bangalore, Karnataka, India","Udaan is a B2B trade platform, designed specif...",0.0,0.0
522,Happyeasygo Group,"Tourism, Travel",Series A,0,"Haryana, Haryana, India",HappyEasyGo is an online travel domain.,0.0,0.0
523,Mombay,"Food and Beverage, Food Delivery, Internet",Seed,7500,"Mumbai, Maharashtra, India",Mombay is a unique opportunity for housewives ...,0.0,0.0
524,Droni Tech,Information Technology,Seed,₹35000000,"Mumbai, Maharashtra, India",Droni Tech manufacture UAVs and develop softwa...,35000000.0,420000.0
525,Netmeds,"Biotechnology, Health Care, Pharmaceutical",Series C,35000000,"Chennai, Tamil Nadu, India",Welcome to India's most convenient pharmacy!,0.0,0.0

In [64]:
df_2018['USD_Amount'] = df_2018['USD_Amount'].replace(0,np.nan)

df_2018['USD_Amount'] = df_2018['USD_Amount'].fillna(df_2018['Amount'])

df_2018

#Replace the 0 columns in the USD to na 
#Fill the na with the rest of the figures in the original amount column which are already in dollars

,Company Name,Industry,Round/Series,Amount,Location,About Company,INR_Amount,USD_Amount
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",0.0,250000
1,Happy Cow Dairy,"Agriculture, Farming",Seed,₹40000000,"Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...,40000000.0,480000.0
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,₹65000000,"Gurgaon, Haryana, India",Leading Online Loans Marketplace in India,65000000.0,780000.0
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...,0.0,2000000
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,0,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...,0.0,0
...,...,...,...,...,...,...,...,...
521,Udaan,"B2B, Business Development, Internet, Marketplace",Series C,225000000,"Bangalore, Karnataka, India","Udaan is a B2B trade platform, designed specif...",0.0,225000000
522,Happyeasygo Group,"Tourism, Travel",Series A,0,"Haryana, Haryana, India",HappyEasyGo is an online travel domain.,0.0,0
523,Mombay,"Food and Beverage, Food Delivery, Internet",Seed,7500,"Mumbai, Maharashtra, India",Mombay is a unique opportunity for housewives ...,0.0,7500
524,Droni Tech,Information Technology,Seed,₹35000000,"Mumbai, Maharashtra, India",Droni Tech manufacture UAVs and develop softwa...,35000000.0,420000.0
525,Netmeds,"Biotechnology, Health Care, Pharmaceutical",Series C,35000000,"Chennai, Tamil Nadu, India",Welcome to India's most convenient pharmacy!,0.0,35000000

In [65]:
df_2018['USD_Amount'].value_counts()

#Checking for any disparity that migh require further attention in the USD Amount column and it was noticed some figures had $ attached to it

USD_Amount
0           148
1000000      24
500000       13
2000000      12
600000.0      9
           ...
2200000       1
1200000       1
$15000        1
$1041000      1
35000000      1
Name: count, Length: 198, dtype: int64

In [66]:
df_2018['USD_Amount'] = df_2018['USD_Amount'].replace("$","",regex = True)

df_2018

#Replace the $ with nothing and display the dataframe

,Company Name,Industry,Round/Series,Amount,Location,About Company,INR_Amount,USD_Amount
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",0.0,250000
1,Happy Cow Dairy,"Agriculture, Farming",Seed,₹40000000,"Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...,40000000.0,480000.0
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,₹65000000,"Gurgaon, Haryana, India",Leading Online Loans Marketplace in India,65000000.0,780000.0
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...,0.0,2000000
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,0,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...,0.0,0
...,...,...,...,...,...,...,...,...
521,Udaan,"B2B, Business Development, Internet, Marketplace",Series C,225000000,"Bangalore, Karnataka, India","Udaan is a B2B trade platform, designed specif...",0.0,225000000
522,Happyeasygo Group,"Tourism, Travel",Series A,0,"Haryana, Haryana, India",HappyEasyGo is an online travel domain.,0.0,0
523,Mombay,"Food and Beverage, Food Delivery, Internet",Seed,7500,"Mumbai, Maharashtra, India",Mombay is a unique opportunity for housewives ...,0.0,7500
524,Droni Tech,Information Technology,Seed,₹35000000,"Mumbai, Maharashtra, India",Droni Tech manufacture UAVs and develop softwa...,35000000.0,420000.0
525,Netmeds,"Biotechnology, Health Care, Pharmaceutical",Series C,35000000,"Chennai, Tamil Nadu, India",Welcome to India's most convenient pharmacy!,0.0,35000000

In [67]:
df_2018['USD_Amount']

#Check to be sure the amount column is okay to be worked with

0         250000
1       480000.0
2       780000.0
3        2000000
4              0
         ...
521    225000000
522            0
523         7500
524     420000.0
525     35000000
Name: USD_Amount, Length: 526, dtype: object

In [68]:
df_2018['USD_Amount'] = df_2018['USD_Amount'].apply(lambda x: float(str(x).replace("$","")))
df_2018['USD_Amount'].value_counts()

#change data type of amount column to float

USD_Amount
0.0          148
1000000.0     27
2000000.0     15
500000.0      13
600000.0      11
            ...
2200000.0      1
15000.0        1
1041000.0      1
800000.0       1
7500.0         1
Name: count, Length: 170, dtype: int64

In [69]:
df_2018.dtypes

#confirm your data types are okay

Company Name      object
Industry          object
Round/Series      object
Amount            object
Location          object
About Company     object
INR_Amount       float64
USD_Amount       float64
dtype: object

In [70]:
df_2018['USD_Amount'] = df_2018['USD_Amount'].replace(0,np.nan)

df_2018


#Replace 0 with nan in the usd amount column

,Company Name,Industry,Round/Series,Amount,Location,About Company,INR_Amount,USD_Amount
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",0.0,250000.0
1,Happy Cow Dairy,"Agriculture, Farming",Seed,₹40000000,"Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...,40000000.0,480000.0
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,₹65000000,"Gurgaon, Haryana, India",Leading Online Loans Marketplace in India,65000000.0,780000.0
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...,0.0,2000000.0
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,0,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...,0.0,NaN
...,...,...,...,...,...,...,...,...
521,Udaan,"B2B, Business Development, Internet, Marketplace",Series C,225000000,"Bangalore, Karnataka, India","Udaan is a B2B trade platform, designed specif...",0.0,225000000.0
522,Happyeasygo Group,"Tourism, Travel",Series A,0,"Haryana, Haryana, India",HappyEasyGo is an online travel domain.,0.0,NaN
523,Mombay,"Food and Beverage, Food Delivery, Internet",Seed,7500,"Mumbai, Maharashtra, India",Mombay is a unique opportunity for housewives ...,0.0,7500.0
524,Droni Tech,Information Technology,Seed,₹35000000,"Mumbai, Maharashtra, India",Droni Tech manufacture UAVs and develop softwa...,35000000.0,420000.0
525,Netmeds,"Biotechnology, Health Care, Pharmaceutical",Series C,35000000,"Chennai, Tamil Nadu, India",Welcome to India's most convenient pharmacy!,0.0,35000000.0

In [71]:
df_2018.drop(columns= ['INR_Amount','Amount'], inplace = True)


df_2018.rename(columns = {'USD_Amount':'Amount'}, inplace = True)

df_2018

#Drop the INR Amount and Amount column since we have all the amount populated in USD Amount as one currency and change the USD Amount to Amount

,Company Name,Industry,Round/Series,Location,About Company,Amount
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",250000.0
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...,480000.0
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"Gurgaon, Haryana, India",Leading Online Loans Marketplace in India,780000.0
3,PayMe India,"Financial Services, FinTech",Angel,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...,2000000.0
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...,NaN
...,...,...,...,...,...,...
521,Udaan,"B2B, Business Development, Internet, Marketplace",Series C,"Bangalore, Karnataka, India","Udaan is a B2B trade platform, designed specif...",225000000.0
522,Happyeasygo Group,"Tourism, Travel",Series A,"Haryana, Haryana, India",HappyEasyGo is an online travel domain.,NaN
523,Mombay,"Food and Beverage, Food Delivery, Internet",Seed,"Mumbai, Maharashtra, India",Mombay is a unique opportunity for housewives ...,7500.0
524,Droni Tech,Information Technology,Seed,"Mumbai, Maharashtra, India",Droni Tech manufacture UAVs and develop softwa...,420000.0
525,Netmeds,"Biotechnology, Health Care, Pharmaceutical",Series C,"Chennai, Tamil Nadu, India",Welcome to India's most convenient pharmacy!,35000000.0

In [73]:
df_2018['Year_of_Funding'] = '2018'

df_2018

#Create a new column Year of Funding and enter 2018 for all rows since we will add other data tot this data

,Company Name,Industry,Round/Series,Location,About Company,Amount,Year_of_Funding
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",250000.0,2018
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...,480000.0,2018
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"Gurgaon, Haryana, India",Leading Online Loans Marketplace in India,780000.0,2018
3,PayMe India,"Financial Services, FinTech",Angel,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...,2000000.0,2018
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...,NaN,2018
...,...,...,...,...,...,...,...
521,Udaan,"B2B, Business Development, Internet, Marketplace",Series C,"Bangalore, Karnataka, India","Udaan is a B2B trade platform, designed specif...",225000000.0,2018
522,Happyeasygo Group,"Tourism, Travel",Series A,"Haryana, Haryana, India",HappyEasyGo is an online travel domain.,NaN,2018
523,Mombay,"Food and Beverage, Food Delivery, Internet",Seed,"Mumbai, Maharashtra, India",Mombay is a unique opportunity for housewives ...,7500.0,2018
524,Droni Tech,Information Technology,Seed,"Mumbai, Maharashtra, India",Droni Tech manufacture UAVs and develop softwa...,420000.0,2018
525,Netmeds,"Biotechnology, Health Care, Pharmaceutical",Series C,"Chennai, Tamil Nadu, India",Welcome to India's most convenient pharmacy!,35000000.0,2018

In [77]:
df_2018.dtypes

#Confirm data types per each column

Company Name        object
Industry            object
Round/Series        object
Location            object
About Company       object
Amount             float64
Year_of_Funding     object
dtype: object

In [81]:
df_2018

,Company Name,Industry,Round/Series,Location,About Company,Amount,Year_of_Funding
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",250000.0,2018
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...,480000.0,2018
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"Gurgaon, Haryana, India",Leading Online Loans Marketplace in India,780000.0,2018
3,PayMe India,"Financial Services, FinTech",Angel,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...,2000000.0,2018
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...,NaN,2018
...,...,...,...,...,...,...,...
521,Udaan,"B2B, Business Development, Internet, Marketplace",Series C,"Bangalore, Karnataka, India","Udaan is a B2B trade platform, designed specif...",225000000.0,2018
522,Happyeasygo Group,"Tourism, Travel",Series A,"Haryana, Haryana, India",HappyEasyGo is an online travel domain.,NaN,2018
523,Mombay,"Food and Beverage, Food Delivery, Internet",Seed,"Mumbai, Maharashtra, India",Mombay is a unique opportunity for housewives ...,7500.0,2018
524,Droni Tech,Information Technology,Seed,"Mumbai, Maharashtra, India",Droni Tech manufacture UAVs and develop softwa...,420000.0,2018
525,Netmeds,"Biotechnology, Health Care, Pharmaceutical",Series C,"Chennai, Tamil Nadu, India",Welcome to India's most convenient pharmacy!,35000000.0,2018

In [82]:
df_2018['Year_of_Funding']

0      2018
1      2018
2      2018
3      2018
4      2018
       ...
521    2018
522    2018
523    2018
524    2018
525    2018
Name: Year_of_Funding, Length: 526, dtype: object

In [83]:
df_2018['Year_of_Funding'].astype(int)

#Change year of column datatype to int

0      2018
1      2018
2      2018
3      2018
4      2018
       ...
521    2018
522    2018
523    2018
524    2018
525    2018
Name: Year_of_Funding, Length: 526, dtype: int32

In [91]:
df_2018.sample(20)

#Anytime this function is run it outputs 20 random sample of your data just to eyeball and make sure your data is well cleaned

,Company Name,Industry,Round/Series,Location,About Company,Amount,Year_of_Funding
17,Fyle,"Accounting, Business Information Systems, Busi...",Seed,"Bengaluru, Karnataka, India",Fyle is an intelligent expense management plat...,1100000.0,2018
284,DigiConnectt Technologys,"Information Services, Information Technology",Seed,"Bengaluru, Karnataka, India",A technology company focused on introducing pr...,125000.0,2018
483,Cyclops Medtech,"Health Care, Health Diagnostics, Internet of T...",Seed,"Bangalore, Karnataka, India",Medtech startup working on clinical and wearab...,1000000.0,2018
460,Spoofin,"Music, Social Network, Video",Venture - Series Unknown,"New Delhi, Delhi, India",A social networking app that lets you create a...,NaN,2018
407,Em Personal Care,Cosmetics,Seed,"Worli, Maharashtra, India",Em Personal Care is a Cosmetic products manufa...,NaN,2018
485,NewsBytes,"Apps, Events, News",Seed,"Gurgaon, Haryana, India",NewsBytes provides your everyday news in a con...,1000000.0,2018
252,Kobster,"E-Commerce, Facilities Support Services, Procu...",Seed,"Chennai, Tamil Nadu, India",Kobster is a pioneer of B2B eProcurement and a...,NaN,2018
493,DocPrime,"Health Care, Health Insurance",Funding Round,"Haryana, Haryana, India",DocPrime offers a one-stop healthcare solution...,50000000.0,2018
153,Fric Bergen,—,Venture - Series Unknown,"Alwar, Rajasthan, India",Fric Bergen is a leader in the specialty food ...,NaN,2018
28,Carcrew,"Automotive, Marketplace, Online Portals",Seed,"Mumbai, Maharashtra, India",India's Online Auto Repair Marketplace,2000000.0,2018
411,Sukkhi Jewellery,"Fashion, Jewelry",Venture - Series Unknown,"Mumbai, Maharashtra, India",Sukkhi Jewellery is a Contemporary fashion jew...,6120000.0,2018
286,Sports Flashes Pvt. Ltd,"Basketball, Cricket, Cycling, eSports, Fitness...",Seed,"New Delhi, Delhi, India",Sports Flashes operates a sports content app t...,1000000.0,2018
412,INDwealth,Financial Services,Seed,"Gurgaon, Haryana, India",INDwealth is an Artificial Intelligence (AI) p...,26400000.0,2018
395,Dunzo,"Customer Service, Messaging, Mobile Apps, Pers...",Debt Financing,"Bangalore, Karnataka, India",Dunzo is an app that connects you with the nea...,840000.0,2018
122,Shop101,"Apps, E-Commerce, Internet",Series B,"Mumbai, Maharashtra, India",#1 Online Selling App. India’s leading social ...,11000000.0,2018
429,Loans4SME,Financial Services,Seed,"Mumbai, Maharashtra, India",Loans4SME is an alternative lending platform.,NaN,2018
420,Indiabulls Ventures,"Financial Services, Venture Capital",Post-IPO Equity,"Mumbai, Maharashtra, India",Indiabulls Ventures Limited is one of India’s ...,184704000.0,2018
393,Asset Reconstruction Company (India) Ltd.,"Financial Services, Professional Services",Secondary Market,"Mumbai, Maharashtra, India",Asset Reconstruction Company (India) Ltd. oper...,NaN,2018
390,CleanseCar,Automotive,Angel,"Bangalore, Karnataka, India",CleanseCar is a company provides Washing and R...,420000.0,2018
477,DailyNinja,"Apps, Mobile, Mobile Apps, Software",Series A,"Bengaluru, Karnataka, India","Daily Ninja, a mobile app that delivers daily ...",NaN,2018